* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Rubik Regular', Arial, Helvetica, sans-serif;
}

:root {
    --background: #007af7;
    --white-text: #fff;
    --hover-text: #222;
    --button-background: #fff;
    --button-background-hover: #000;
    --button-text: #007af7;

}

@font-face {
    font-family: 'Rubik Regular';
    src: url(../assets/fonts/Rubik-Regular.ttf);
}

body {
    overflow-x: hidden;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.20;
}

.hero-section .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.hero-section .content h2 {
    color: #12222d;
    font-size: 60px;
}

.hero-section .content p {
    color: #12222d;
    font-size: 18px;
}

.hero-section header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.hero-section header .logo {
    position: relative;
    width: 100%;
    height: 78px;
    z-index: 1000;
    opacity: 1;
}

.hero-section header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
    background: url(../assets/images/toggle.png);
    background-size: cover;
    cursor: pointer;
    opacity: 1;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    background: #162c3b;
}

.about .contentBox {
    background-color: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about .imgBox {
    background: url(/assets/images/about-elvey.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}


/* Services Section */
.services {
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBox {
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.services .container .serviceBox img {
    max-width: 100px;
}

.services .container .serviceBox h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.brands {
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    /* Blending in to the other section effect */
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands .contentBox {
    max-width: 800px;
}

.brands .imgBox {
    max-width: 250px;
}

.brands .imgBox img {
    max-width: 100%;
}

.clients {
    background: #162c3b;
    padding: 10px;
    text-align: center;
}

.clients .imgBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.clients .imgBox img {
    max-width: 200px;
    margin: 20px;
    opacity: 0.25;
    cursor: pointer;
}

.clients .imgBox img:hover {
    opacity: 1;
}

.testimonials {
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBox {
    background: #fff;
    padding: 60px 50px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials .container .contentBox p {
    font-style: italic;
}

.testimonials .container .contentBox h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #3f8ffc;
}

.testimonials .container .contentBox:nth-child(3),
.contentBox:nth-child(4) {
    margin-top: 20px;
    display: flex;
}


/* Contact Section Start */
.contact {
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.imgBox-2 {
    background: url(/assets/images/Elvey\ Techno\ Park.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.bluebg {
    background: url(../assets/images/background.jpg) !important;
    background-size: cover;
    background-position: center;
}

.form .inputBox {
    margin-bottom: 40px;
}

.form .inputBox input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.form .inputBox input::placeholder {
    color: #fff;
}

.form .inputBox textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    border-bottom: 2px solid #fff;
}

.form .inputBox textarea::placeholder {
    color: #fff;
}

.form .inputBox input[type="submit"] {
    background-color: #fff;
    color: #000;
    width: 150px;
    cursor: pointer;
    font-weight: 400;
}

/* Cookie Popup Start */
.cookie-container {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background);
    color: var(--white-text);
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    gap: 2rem;
    opacity: 1;
    visibility: visible;
    flex-wrap: wrap;
    z-index: 2;
}

.cookie-container.hide {
    opacity: 0;
    visibility: hidden;
}

.cookie-container a {
    color: var(--white-color);
}

.cookie-container a:hover {
    color: var(--hover-text);
}

.cookie-container .cookie-text {
    flex: 8 768px;
}

.cookie-container .agree {
    flex: 1 150px;
    text-align: center;
}

.agree button {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
}

.agree button:hover {
    background: var(--button-background-hover);
    color: var(--white-text);
}

/* Cookie Popup End */


/* Footer Section */
.footer {
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

/*
.footer ul li a img {
    filter: invert(1)
}
*/

/*------------------------- MEDIA QUERIES ------------------------- */
@media (max-width: 991px) {
    .hero-section {
        padding: 50px;
    }

    .hero-section header {
        padding: 20px 50px;
    }

    .hero-section .content h2 {
        font-size: 36px;
    }

    .hero-section .content p {
        color: #fff;
        font-size: 16px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBox,
    .about .imgBox {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBox {
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .brands {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .brands .imgBox {
        margin-top: 40px;
        max-width: 250px;
    }

    .clients {
        padding: 50px;
    }

    .clients .imgBox {
        justify-content: center;
    }

    .testimonials {
        padding: 50px;
    }

    .testimonials .contentBox {
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }

    .testimonials .contentBox:last-child {
        margin-bottom: 0px;
    }

    .contact {
        padding: 50px;
    }

    .footer {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer ul {
        margin-bottom: 20px;
    }
}